.Header {
    padding-top: 15px;
    display: flex;
    background-color: white;
    height: 140px;
}


.Header__left {
    display: flex;
    gap: 25px;
    align-items: center;
    width: 340px;
}

.Header__left img {
    width: 70px;
    height: 71px;
    flex-shrink: 0;
}

.subText {
    font-size: 8px;
    font-weight: 300;
}

.Header h1 {
    font-size: 20px;
    font-weight: 600;
}

.logo__text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
}
.line {
    background-color: rgba(0, 0, 0, 0.31);
    border-radius: 15px;
    width: 3px;
    height: 75px;
    border: 1px solid rgba(0, 0, 0, 0.31);
    margin-right: 20px;

}

.Header__right {
    width: 100%;
}
.Header__right_wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.slogan p {
    font-size: 14px;
    font-weight: 400;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75px;
    gap: 10px;
}

.contacts img:first-child {
    width: 35px;
    height: 35px;
}

.phoneLogo {
    width: 27px;
    height: 27px;
}

.contacts {
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: space-between;
}

nav {
    margin-left: 25%;
}
nav ul {
    display: flex;
    list-style-type: none;
    gap: 40px;
    padding: 0;
    margin-top: 40px;
}

nav ul li {
    color: #000;

    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 77.4%;
}

.active {
    color: Gold;
}
